html{
scroll-behavior: smooth;
}

a {
color: whitesmoke !important;
}

a:hover{
text-decoration: none !important;
}

li{
list-style: none;
}

body {
font-family: 'Inter', sans-serif;
}


/* Section Home */

#home {
color: whitesmoke;
text-align: center;
height: 100vh;
background-image: url("../imgs/Background.jpg");
background-size: cover;
background-position-y: 60%;
margin: 0;
padding: 0;

}
#home nav{
width: 100%;
height: 15vh;
padding-top: 2%;
width: 100%;
display: flex;
justify-content: space-between;
}

.home-nav  {
padding: 0;
margin-right: 4vw;
width: 20vw;
display: flex;
justify-content: space-between;
}

.home-nav li {
margin-top: 6%;
padding: 4%;
width: 6vw;
}

.home-nav li a:Hover{
opacity: 0.4;
transition: opacity  0.8s ease;
}


.nav-sides{
font-size: larger;
margin-left: 4%;
margin-right: 4%;
font-weight: 700;
}

.nav-sides:hover{
transform: scale(1.1);
transition: transform 0.8s ease;
}

#scroll-down{
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: 0 auto; /* Centrar horizontalmente */
text-align: center; 
padding-bottom: 20px;
width: 20vw;
height: 10vh;
}


.home-mainContainer{
width: 100%;
height: 60vh;
display: flex;
align-items: center;
justify-content: space-evenly;

}

.avatar{
width: 15vw;
height: 40vh;
}

.home-info{
width: 28%;
}

.home-info h1{
font-family: 'Jost', sans-serif;
font-weight: bold;
font-size: 2rem;
}

.home-info h2{
font-weight: 400;
font-size: 1.5rem;
}

.home-socials{
margin: auto;
width: 60%;
display: flex;
justify-content: space-evenly;
}

.home-socials a:hover{
opacity: 0.4;
transition: opacity 0.8s ease;
}

.home-btn{
text-align: center;
width: 40%;
height: 8%;
font-weight: bold;
color: whitesmoke;
background-color: transparent;
border: 2px whitesmoke solid;
border-radius: 20px;
}

.home-btn:hover{
background-color: rgba(255, 255, 255, 0.2);
transition: background-color 0.8s ease;
}

.home-btn:hover img {
transform: scale(1.2);
transition: transform 0.8s ease;

}


.home-btn:hover p {
transform: scale(0.9);
transition: transform 0.8s ease;

}

/* Section Trabajos */

#work{
width: 100%;
background-color: #262320;
color: whitesmoke;
margin: 0;
padding: 0;

}

#work ul{
display: flex;
width: 40vw;
padding-top: 10vh;
justify-content: space-between;
margin: 0 auto;
}

#work ul li{
padding: 2%;
font-weight: 600;
font-size: 1.2rem;
cursor: pointer;
}


#work ul li:hover{
opacity: 0.4;
transition: opacity  0.8s ease;
}

.work-container{
padding-top: 4%;
padding-bottom: 4%;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
/* Estilos CSS para las tarjetas de trabajo */
.work-cards {
margin: 2%;
display: flex;
}

.work-cards-main {
width: 40vw;
height: 50vh;
background-size: cover;
background-position: center;
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.work-cards:hover {
cursor: pointer;
}


.work-cards h6 {
padding: 2%;
font-size: 1.4rem;
}

.work-cards-content {
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.4);
  border-radius: 20px;
display: none;
opacity: 0;
flex-direction: column;
justify-content: center;
align-items: center;
}

.work-cards-content p {
width: 70%;
text-align: center;
}

.work-cards:hover .work-cards-content {
display: flex !important;
opacity: 1 !important; 
transition: opacity 0.8s ease;
}
.work-cards-content a{
padding: 2%;
} 

.work-cards-content div{
display: flex;
flex-direction: row;
align-items: center;


}

.work-cards-content button {
width: 10vw;
height: 4vh;
font-weight: 600;
font-size: 1.1rem;
color: whitesmoke;
background-color: transparent;
border: 4px solid lightgray;
border-radius: 20px;
opacity: 1;
}

.work-cards-content button:hover{
color: #262320;
background-color: whitesmoke;
border: 2px solid whitesmoke;

}

/* Section Contacto */

#contact{
margin: 0;
padding: 0;
width: 100%;
height: 100vh;
background-color: #0A0C0A;
color: whitesmoke;
padding-top: 4% ;
text-align: center;
}

#contact h6{
font-size: 1.5rem;
}

.contact-container{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

#contact form {
width: 40%;
padding: 4%;
color: whitesmoke;
display: flex;
flex-direction: column;
}

#contact form input, textarea {
width: 30vw;
padding: 2%;
color: whitesmoke;
border: none;
border-bottom: 2px solid whitesmoke;
background-color: transparent;

}

#contact form textarea{
height: 12vh;
resize: none;
}

::placeholder{
padding: 2%;
color: gray;
}

#contact form button {
margin: auto;
margin-top: 6%;
width: 10vw;
height: 5vh;
font-weight: 600;
font-size: 1.1rem;
color: #262320;
background-color: lightgray;
border: 2px solid lightgray;
border-radius: 20px;

}

#contact form button:hover{
color: whitesmoke;
background-color: #262320;
border: 2px solid #262320;
transition: background-color 0.8s ease, color 0.8s ease, border 0.8s ease  ;
}


/* Footer */

footer{
width: 100%;
color: whitesmoke;
background-color: #0A0C0A;
}

footer div{
margin: auto;
width: 80%;
height: 10vh;
border-top: 2px solid gray;
display: flex;
justify-content: center;
align-items: center;
}